<div class="container-fluid" style="background-color: #EEF2F8; margin-top: 10px;">
    <div class="container" style="height: 270px; margin-bottom: 10px;">
        <h1>About us</h1>
        <p>
            JMI Group is one of the leading and most diversified global conglomerates in Bangladesh established in April
            1999.
            The company and its journey to the current growth and prosperity has been no bed of roses. From it’s
            inception in
            1999, it has today blossomed into one of the top line conglomerates in Bangladesh.
            Looking beyond the horizon
            JMI Group has extended their range of products and services towards the highway of the global market. This
            extension
            in business and services has manifested the credibility of JMI group
        </p>

    </div>
</div>