<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myHeader" style="height: 100px; color: rgb(2, 91, 133);">
    <div>
        <a class="navbar-brand" routerLink="/home" style="text-align: center;">
            <img src="assets/image/logoblockFB.png" width="80" height="80" class="d-inline-block align-top"
                alt="JMI Group">
        </a>
    </div>
    <div><a routerLink="/home">
            <h2 class="display-5 font-weight-bold" style=" display: inline;text-align: center;"><b>JMI GROUP</b></h2>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent"
        style=" padding-left: 100px;  font-style:inherit; font-size: 120%;">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/news">NEWS</a>
            </li>
            <li class="nav-item dropdown megamenu"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class="nav-link dropdown-toggle ">INDUSTRIES</a>
                <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0" style="margin-top: 40px;">
                    <div class="container" style="display: inline; ">
                        <div class="row bg-white rounded-0 m-0 shadow-sm">
                            <div class="col-lg-7 col-xl-8">
                                <div class="p-4">
                                    <div class="row">
                                        <div class="col-lg-6 mb-4">
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Syringes &
                                                        Medical
                                                        Devices Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>Nipro JMI Pharma
                                                        Ltd.</a>
                                                </li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Vaccine
                                                        Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Hospital
                                                        Requisite
                                                        MFG. Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>Nipro JMI Co.
                                                        Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>NIPRO JMI Dialysis
                                                        Centre Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Industrial Gas
                                                        Ltd.
                                                        (JIGL)</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Export Import
                                                        Co.
                                                        Ltd.</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-lg-6 mb-4">
                                            <ul class="list-unstyled">
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI CNG Dispensing
                                                        Co. Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Builders &
                                                        Construction Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Printing &
                                                        Packaging Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI Safe
                                                        Transportation Ltd.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI CYLINDERS
                                                        LIMITED.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI SANKUR AUTO
                                                        TANK LIMITED.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>JMI SANKUR VALVE &
                                                        BUNG LIMITED.</a></li>
                                                <li class="nav-item"><a href="" class="nav-link text-small pb-0 "><i
                                                            class="fas fa-caret-right pl-1 pr-3"></i>MononSoft Ltd.</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block"
                                style="background: center center url(https://i.ibb.co/x5j8PXC/EHn2-Ry-YX4-AADm-H6.jpg)no-repeat; background-size: cover;">
                            </div>
                        </div>

                    </div>
                </div>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">GALLERY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CAREER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>