<!-- Footer -->
<footer class="page-footer font-small mdb-color" style="background-color: #31859D; color: white;">

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-6 mx-auto mt-3" style="margin-bottom: 10px;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3652.108284023062!2d90.41370791434827!3d23.74351769495744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8616c79536d%3A0xef5ed4a1110af709!2sJMI%20Group!5e0!3m2!1sen!2sbd!4v1575189578935!5m2!1sen!2sbd"
                width="650" height="200" frameborder="0" allowfullscreen=""
                style="margin-left: -15px;"></iframe>
        </div>
        <div class="col-xs-6 mx-auto mt-3">
            <div class="row" style="font-size: small;">
                <div class="col-xs-6" style="margin-right: 120px;">
                    <h4>Corporate Office</h4>
                    <!-- <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p> -->
                    <div>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                        <p style="margin-top: -15px;">117, Kazi Nazrul Islam Avenue</p>
                        <p style="margin-top: -15px;">Ramna, Dhaka-1217, Bangladesh</p>
                    </div>

                </div>
                <div class="col-xs-6" style="margin-right: 20px;">
                    <h4>Registered Office</h4>
                    <!-- <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p> -->
                    <div >
                        <p>
                            <i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                        <p style="margin-top: -15px;">7/A Shantibag</p>
                        <p style="margin-top: -15px;"> Dhaka 1217, Bangladesh</p>
                    </div>

                </div>
            </div>
            <div class="row" style="direction: rtl; margin-top: 10px;">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item" style="margin-right: -30px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item"style="margin-right: 20px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item"style="margin-right: 20px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item"style="margin-right: 20px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</footer>