<!-- Footer -->
<footer class="page-footer font-small mdb-color" style="background-color: #31859D; color: white;">

    <div class="row" >
        <div class="col-xs-6 mx-auto mt-3 fluid" >
            <iframe class="map"
            src="https://www.google.com/maps/d/embed?mid=1Q6TB9AU0O7891_nakdDnIqk0mSgAVFYT&hl=en"
                 frameborder="0" allowfullscreen="true"
                style="margin-top: 5px; width: 600px;height: 200px;"></iframe>
        </div>
        <div class="col-xs-6 mx-auto mt-3">
            <div class="row" style="font-size: small;">
                <div class="col-xs-6 address" style="margin-right: 120px;">
                    <h4>Corporate Office</h4>
                    <!-- <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p> -->
                    <div >
                        <p>
                            <i class="fas fa-envelope mr-3"></i>info@jmigroup-bd.com</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-phone mr-3"></i>880-2-55138723, 55138724</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-print mr-3"></i>880-2-55138725</p>
                        <p style="margin-top: -15px;">Unique Heights, Level-11,</p>
                        <p style="margin-top: -15px;">117, Kazi Nazrul Islam Avenue, Ramna,</p>
                        <p style="margin-top: -15px;">Dhaka-1217, Bangladesh.</p>
                    </div>

                </div>
                <div class="col-xs-6 address" style="margin-right: 20px;">
                    <h4>Registered Office</h4>
                    <!-- <p>
                        <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p> -->
                    <div >
                        <p>
                            <i class="fas fa-envelope mr-3"></i>info@jmigroup-bd.com</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-phone mr-3"></i>+880-2 9345674, 9333102</p>
                        <p style="margin-top: -15px;">
                            <i class="fas fa-print mr-3"></i>+880-2-9337798</p>
                        <p style="margin-top: -15px;">7/A Shantibag</p>
                        <p style="margin-top: -15px;"> Dhaka 1217, Bangladesh</p>
                    </div>

                </div>
            </div>
            <div class="row" style="direction: rtl; margin-top: 10px;">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item" style="margin-right: -30px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item"style="margin-right: 20px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item"style="margin-right: 20px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item"style="margin-right: 20px;">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</footer>